@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Regular.woff2");
}

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
html {
  scroll-behavior: smooth;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
td,
th,
a,
label {
  color: #333;
}

/* * DEFAULT CUSTOM STYLE * */
.table {
  border-collapse: collapse;
  border-spacing: 10px;
  width: 100%;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 12px;
}

.table tr:hover {
  background-color: #f2f2f2;
}

.center {
  text-align: center;
}

.input-form {
  border-radius: 5px;
  width: 100%;
  padding: 10px 12px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #ddd;
  font-size: 14px;
  color: #333;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

input[type="checkbox"] {
  cursor: pointer;
}

.dropdown {
  cursor: pointer;
}

.badge {
  padding: 6px 8px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 2px;
}

.yellow {
  color: #222;
  background-color: orange;
}

.yellow:hover {
  background-color: rgb(247, 160, 0);
}

.red {
  color: white;
  background-color: crimson;
}

.red:hover {
  background-color: rgb(202, 18, 55);
}

.green {
  color: white;
  background-color: green;
}

.green:hover {
  background-color: rgb(0, 105, 0);
}

.grey {
  color: #222;
  background-color: #f2f2f2;
}

.grey:hover {
  background-color: #e2e2e2;
}

.button {
  padding: 8px 14px;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.link {
  color: #333;
}

.action {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.info {
  border-radius: 5px;
  padding: 0px 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
}

.info-red {
  background-color: #f8d7da;
  color: darkred;
}

.info-green {
  background-color: #d1e7dd;
  color: darkgreen;
}

/* * STYLE */

#container {
  margin: auto;
  width: 90%;
}

#container form {
  margin-top: 25vh;
}

#navbar {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  line-height: 70px;
  padding: 0px 2% 0px 19%;
  position: fixed;
  z-index: 1;
}

#sidebar {
  background-color: #4025a6;
  width: 17%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  padding: 25px 10px;
  box-sizing: border-box;
}

#sidebar #menu {
  font-size: 24px;
  margin-bottom: 24px;
  color: #f2f2f2;
  text-align: center;
}

#sidebar ul li {
  margin-bottom: 12px;
}

#sidebar ul li a {
  color: #f2f2f2;
  width: 100%;
  padding: 16px 12px;
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
}

#sidebar ul li a:hover {
  background-color: #5836de80;
}

#sidebar ul li .active {
  background-color: #5836de;
  color: #fff;
}

#content {
  width: 100%;
  height: 100%;
  padding: 100px 2% 2% 19%;
  box-sizing: border-box;
  overflow: auto;
}

#action {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  #sidebar #menu,
  #sidebar ul li a,
  #navbar {
    overflow: hidden;
    font-size: 16px;
  }

  .table .badge {
    display: block;
    margin-bottom: 5px;
  }

  #sidebar ul li .hide-icon,
  .button .hide-icon {
    display: none;
  }
}

@media (max-width: 720px) {
  #sidebar #menu,
  #navbar {
    overflow: hidden;
    font-size: 14px;
  }

  #sidebar ul li .hide-icon,
  .button .hide-icon {
    display: block;
  }

  #sidebar ul li .hide {
    display: none;
  }

  #sidebar ul li {
    text-align: center;
  }

  #content {
    padding: 100px 2% 2% 19%;
  }
}
