/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"); */
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Regular.woff2");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
* {
  box-sizing: border-box;
}
body {
  line-height: 1;
}
html {
  scroll-behavior: smooth;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 10px;
  font-size: 16px;
  width: 100%;
  padding: 10px;
}

td,
th {
  border: 1px solid #ddd;
  padding: 14px;
}

tr:hover {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

input[type="text"],
input[type="number"],
select {
  border: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  height: 42px;
  width: 100%;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
}

select {
  cursor: pointer;
}

textarea {
  border: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 6px 12px;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
}

.href {
  text-align: center;
  padding: 6px 8px;
  display: inline-block;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-right: 2px;
  color: #333;
}

.kuning {
  color: rgb(24, 24, 24);
  background-color: orange;
}
.merah {
  color: white;
  background-color: crimson;
}

.hijau {
  color: white;
  background-color: green;
}

.biru {
  color: white;
  background-color: #0075fa;
}

button {
  padding: 11px 28px;
  border: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  cursor: pointer;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  border-radius: 5px;
  font-weight: 500;
  color: #333;
}

nav {
  z-index: 1;
  display: flex;
  width: 100%;
  height: 70px;
  line-height: 65px;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 2% 0px 19%;
  justify-items: center;
  position: fixed;
}

nav a {
  color: #333;
}

nav form input[type="text"] {
  width: 250px;
}

/* Style */

.h2 {
  color: #333;
  font-size: 24px;
}

.info {
  border-radius: 5px;
  padding: 0px 10px;
  box-sizing: border-box;
  margin: 10px 0px;
  width: 100%;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
}

.info-merah {
  background-color: #f8d7da;
  color: darkred;
}

.info-hijau {
  background-color: #d1e7dd;
  color: darkgreen;
}

#sidebar {
  background-color: #4025a6;
  width: 17%;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 2;
  top: 0;
  padding: 25px 10px;
  box-sizing: border-box;
}

#sidebar #menu {
  font-size: 24px;
  margin-bottom: 40px;
  color: #f2f2f2;
  text-align: center;
}

#sidebar ul li {
  margin-bottom: 12px;
}

#sidebar ul li a {
  color: #ddd;
  width: 100%;
  padding: 14px 12px;
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
}

#sidebar ul li a:hover {
  background-color: #5836de80;
}

#sidebar ul li .active {
  background-color: #5836de;
  color: #fff;
}

#konten {
  width: 100%;
  height: 100%;
  padding: 120px 2% 2% 19%;
  box-sizing: border-box;
  overflow: auto;
}

#aksi {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

#informasi {
  text-align: left;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#informasi a {
  color: #333;
}

.jumlah {
  margin-top: 10px;
  font-size: 58px;
  font-weight: 700;
}

.kartu {
  display: inline-block;
  padding: 10px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 10px;
  border: 2px solid #f2f2f2;
}

.kartu:hover {
  border: 2px solid #ddd;
}

#responsive {
  text-align: left;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.gallery {
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid #ddd;
}

.gallery:hover {
  border: 2px solid rgb(177, 177, 177);
}

.gallery img {
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}

.gallery .desc {
  padding: 10px;
}

@media (max-width: 1024px) {
  #sidebar #menu {
    font-size: 20px;
  }

  .kartu {
    width: 98%;
  }

  table .href {
    display: block;
    margin-bottom: 5px;
  }

  .hide-icon {
    display: none;
  }

  #informasi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 220px;
    overflow: hidden;
  }

  #responsive {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery {
    margin-right: 8px;
    margin-top: 10px;
  }
}

@media (max-width: 720px) {
  nav form input[type="text"] {
    width: 200px;
  }

  table .href {
    display: block;
    /* padding: 6px 1px; */
    margin-bottom: 5px;
  }

  #sidebar ul li a {
    text-align: center;
  }

  #sidebar #menu {
    font-size: 18px;
  }

  .h2 {
    font-size: 20px;
  }

  .hide {
    display: none;
  }

  .hide-icon {
    display: block;
  }

  .kartu {
    width: 100%;
    margin-bottom: 10px;
  }

  #informasi {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 220px;
    overflow: auto;
  }
}
