@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  color: #333;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 10px;
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
}

td,
th {
  border: 1px solid #ddd;
  padding: 14px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(247, 247, 247);
}

input[type="text"],
input[type="number"],
select {
  border: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  height: 42px;
  width: 250px;
  padding: 6px 12px;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
}

textarea {
  border: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 6px 12px;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
}

.href {
  padding: 6px 8px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #ddd;
  border-radius: 5px;
  margin-right: 2px;
}

.kuning {
  color: #010101;
  background-color: orange;
}

.merah {
  color: white;
  background-color: crimson;
}

.hijau {
  color: white;
  background-color: green;
}

.biru {
  color: white;
  background-color: #0075fa;
}

button {
  padding: 11px 32px;
  border: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  cursor: pointer;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  border-radius: 5px;
  font-weight: 500;
  color: #333;
}

nav {
  z-index: 1;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #fff;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 2% 0px 17%;
  line-height: 70px;
  position: fixed;
}

/* Style */
form .input-form {
  width: 100%;
}

.h2 {
  font-size: 24px;
}

#sidebar {
  background-color: #fff;
  width: 15%;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 2;
  border: 1px solid #ddd;
  top: 0;
  padding: 25px 10px;
  box-sizing: border-box;
}

#sidebar #menu {
  font-size: 24px;
  margin-bottom: 20px;
}

#sidebar ul li {
  margin-bottom: 12px;
}

#sidebar ul li a {
  background-color: rgb(250, 250, 250);
  width: 100%;
  padding: 14px 12px;
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
}

#sidebar ul li .active {
  background-color: #ddd;
}

#konten {
  width: 100%;
  height: 100%;
  padding: 100px 2% 0px 17%;
  box-sizing: border-box;
  overflow: auto;
}

#aksi {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

#informasi {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.jumlah {
  margin-top: 10px;
  font-size: 62px;
  font-weight: 700;
}

.kartu {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  height: 100px;
}

#informasi .siswa {
  background-color: lightyellow;
}

#informasi .pembayaran {
  background-color: lightgreen;
}

#informasi .kelas {
  background-color: lightsalmon;
}

#informasi .pengguna {
  background-color: lightblue;
}

@media (max-width: 1024px) {
  #sidebar ul li a {
    text-align: center;
  }

  .hide {
    display: none;
  }

  table .href {
    display: block;
    margin-bottom: 5px;
  }

  #informasi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 240px;
    overflow: hidden;
  }
}

@media (max-width: 720px) {
  input[type="text"] {
    width: 200px;
  }

  table .href {
    display: block;
    margin-bottom: 5px;
  }

  #sidebar ul li a {
    text-align: center;
  }

  .hide {
    display: none;
  }
}
